@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*main container*/
main {
    margin: auto;
    margin-left: 0;
    width:375px;
    height: 2107px;
    display:block;
    box-sizing: border-box;
   
}
/* h1 and p display none for mobile*/
h1 {
    display: none;
}

p {
    display: none;
    font-weight: bold;
}

/*first-equalizer-container*/
.equalizer-box {
    padding-top: 40px;
    width: 146.06px;
    height: 32px;
   
}

/*equalizer text*/
#equalizer {
    display: inline;
    font-size: 32px;

}

/*layer blur over the mobile image*/
.bg-main-mobile {
    position: relative;
    width: 281.4px;
    height: 480px;
    background-image:url(/assets/bg-main-mobile.png);
    border-radius:50%;
    margin-top: 300px;
    width: 281.4px;
    height: 281.4px;
    left:23px;
    

}

/*container for image*/
.img-container {
    width: 375px;
    height: 1024px;
    background-color: #191826;
    background-image: url(assets/bg-pattern-2.svg);
    height: 372px;
    width: 352px;
    margin-left: 23px;
    background-repeat: no-repeat;
    background-size: 282px;
    background-position: center;
    border-radius: 12px 0 0 0;

}

/* mobile-image*/
.mobile-image {
    width: 208.97px;
    height: 430px;
    display: block;
    margin: auto;
    position: relative;
    bottom: 100px;

}

/*second-section-premiumEQ*/
.second-section { 
    background-color: #FA7453;
    height: 576px;
    width: 352px;
    display: block;
    position: relative;
    bottom: 65px;
    border-radius: 12px 0 0 12px;
    

}

/*container-premium-text*/
.premium {
    display: block;
    position:absolute;
    margin-top: 48px;
    margin-left: 36.29px;
    width: 304.42px;
    height: 40px;


    
}

/*premium-text*/
.premium-text {
    display: inline-block;
    position: absolute;
    color:#FCFAF9;
    font-family:'Abel', sans-serif;
    font-weight: 400;
    font-size: 32px;
}

/*price-div*/
.price {
    position: absolute;
    margin-top: 276px;
    margin-left: 42.34px;
    width:166.32px;
    height: 52px;
}

/*price-text*/
.price p {
    display: inline;
    font-size: 52px;
    color: #FCFAF9;
    font-family:'Abel', sans-serif; 
    font-weight: 400;

}


/*ios/android-container*/
.ios, .android{
    display:inline-block;
    position: absolute;
    background-color: azure;
    margin-top: 360px;
    margin-left: 42.60px;
    width: 298.37px;
    height: 61px;
    background-color:#191826;
    border-radius: 12px;

}

/*ios/android h2*/
.ios h2, .android h2 {
    color:#FCFAF9;
    display: inline-block;
    text-align: center;
    position: relative;
    padding-left: 20.08px;
    font-size: 18px;
    font-family:'Abel', sans-serif;  
    font-weight: 400;


}

/*styling ios/android images*/
.ios img,.android img {
    padding-left: 77.62px;
}

/*android "button"*/
.android {
    margin-top: 450px;
    background-color: #FCFAF9;
}

.android h2 {
    color:#191826;
    
}

/*second euqalizer text/box*/
.equalizer-box2 {
    width: 327px;
    height: 169px;
    margin-top: 688px;
    display: inline-block;
    position: relative;
   
    
}

/*styling footer*/
footer {
    margin-left: 36px;
    width: 100px;
    height: 100px;
    margin-top: 172px;
    
}

footer img {
    margin-left: 10px;
}
.bg-pattern-1{
    display: none;
}
/*when hoving hover the buttons the back ground color will change*/
.android:hover{
    background-color: #FFB964;
}
.ios:hover{
    background-color: #66E2DC;
}
/*end of mobilephone style*/


@media screen and (min-width: 768px){
/*style for tablets*/
 /*stylying main container*/
 main {
    width: 768px;
    height:1781px;
    overflow: hidden;
    background-image: url(/starter-code/assets/bg-main-tablet.png);
    background-position: -300px -400px;
    
    
    }

/*equalizer-box*/
 .equalizer-box {
    padding-top: 62px;
    padding-left: 39px;
    
    }
/*styling main content container and h1*/
.content{
    width: 520px;
    height: 332px;
    margin-top: 189px;
    margin-left: 39px;
    margin-bottom: 250px;
    }

/*header h1 for desktop*/
header h1 {
    display: block;
    font-family:'Abel', sans-serif;
    font-weight: 400;
    font-size: 64px;
    font-style: regular;
    line-height: 64px;
    text-align: left;
    letter-spacing:0.73px ;
    height: 128px;
    }

/*styling section, container for mobile image  and mobile image*/

.second-section{
    border-radius: 12px;
}

.img-container {
    width: 695px;
    height: 597px;
    margin-right:39px;
    margin-left:33px;
    border-radius: 12px;
    background-size: 45%;
    background-position: top;
   }

.mobile-image {
    margin-top: 95px;
    margin-left:40px;
    width: 252px;
    height: 540px;

   }
/*second section orange container with premiun text and price*/
.second-section {
    margin-left: 233px;
    bottom:350px;
    width: 393px;
    height: 538px;
    margin-right: 0px;
   }

/*blur over mobile image*/
.bg-main-mobile {
    display:none;
}

/*section background*/
.bg-pattern-1 {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 266.67;
   height:370px ;
}

.bg-pattern-1 img {
    display:block;    
    width: 200px;
    height: 400px;

}

/*second equalizer*/
.equalizer-box2  {
    display: inline-block;
    position:relative;
    bottom: 550px;
    margin-left: 33px;


}

/*tablet footer*/
footer  {
    position: relative;
    left: 0px;
    bottom:800px;
    left: 77%;
}
/*when hoving hover the buttons the back ground color will change*/
.android:hover{
    background-color: #FFB964;
}
.ios:hover{
    background-color: #66E2DC;
}

/*end of tablet section*/

/*styling for desktop*/
@media screen and (min-width: 1200px)
{

/*main container for desktop*/
main {
    width: 1440px;
    height: 1832px;
    background-image: url(assets/bg-main-desktop.png);
    background-position: -250px -300px;
    position: relative;
        
         
    }
/*content is the div/box for h1 */

.content h1 {
    width: 1015px;
    height: 176px;
    margin-left: 165px;
    margin-top: 62px;
}
    
/*first equalizer text box*/
.equalizer-box {
    margin-left: 165px;
}

.bg-pattern-1{
    display: block;
    width: 312px;
    position:absolute;
    right:-100px;
    top: 0;
   
 
}
 /*mobile phone image container*/
.img-container {
    height: 600px;
    width: 1110px;
    margin-left:238px;
    background-image: url(/starter-code/assets/bg-pattern-2.svg);
    background-size: 312px;
    background-position: 340px -40px;
    
}
/*mobile phone image*/
.mobile-image {
    width: 312px;
    height: 642px;
    position: relative;
    bottom: 200px;
    margin-left: 29px;
}
/*second section would be the orange box with "premiun text"*/
.second-section{
    width: 446px;
    height:625px;
    margin-left: 496px;
    bottom: 540px;
    
}
.premium-text{
    width: 333px;
    height: 52px;
    margin-right: 54px;
    
}
.price {
    margin-right:227px ;
    margin-top: 341px;
   
}
/*download button ios*/
.ios {
    width: 333px;
    height: 61px;
    margin-top: 439px;
    
}
/*hover over the ios button and its color change*/
.ios:hover{
    background-color: #66E2DC;
}
/*android button and android hover*/
.android {
    width: 333px;
    margin-top:516px ;
    
}
.android:hover{
    background-color: #FFB964;
}

/*second equalizer text*/
.equalizer-box2 {
    position: absolute;
    margin-left: 165px;
    bottom: 91px;
    width: 146.06px;
    height: 32px;
    padding-left: 39px;
}

/*footer with the icons*/
footer {
    position:absolute;
    bottom: 10px;
    margin-right: 165px;
    
}

}
